html,
body {
  height: 98%;
  width: 99%;
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
  border: 15px solid gray;
}
.header,
.main,
.footer {
  width: 100%;
}

.header {
  height: 4%;
}
.main {
  height: 91%;
  border: 1px solid black;
}
.page {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
/* //////////////////////////// */
/* FOOTER */
/* //////////////////////////// */
.footer {
  height: 5%;
  display: flex;
  align-items: center;
}
.btnAddPage {
  width: 3%;
  height: 100%;
  font-size: 150%;
}
.btnPage {
  min-width: 7%;
  height: 100%;
  white-space: nowrap;
}

.hide {
  display: none;
}
