html,
body {
  height: 98.3%;
  width: 99.1%;
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
  border: 15px solid gray;
  display: flex;
  flex-direction: column;
}

.header {
  height: 4%;
  display: flex;
  background-color: rgb(244, 241, 236);
}
.headerItem {
  height: 100%;
  width: 8%;
  border: 1px solid black;
}

.main {
  height: 91%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
}
.page {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1%;
}
/*  */
.dayTable {
  height: 95%;
  min-width: 30%;
  border: 1px solid red;
}

/* //////////////////////////// */
/* FOOTER */
/* //////////////////////////// */
.footer {
  height: 5%;
  display: flex;
  align-items: center;
  gap: 0.2%;
}
.btnAddPage {
  width: 3%;
  height: 100%;
  font-size: 150%;
  border: 0;
}
.btnPage {
  min-width: 7%;
  height: 100%;
  white-space: nowrap;
}

/* MODAL */
.modalBackground {
  background-color: rgba(59, 55, 55, 0.5);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
.modalNameOrDelete {
  background-color: white;
  width: 15%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modalNameOrDelete button {
  margin: 5%;
  height: 50%;
  font-weight: bold;
  border-radius: 15%;
}
.modalNameOrDelete .rename {
  height: 100%;
  width: 100%;
}
/*  */
button {
  cursor: pointer;
  border: 0;
}
button:hover {
  background-color: rgb(238, 230, 218);
}

.btnClicked {
  background-color: rgb(240, 225, 204);
  border: 0;
}
.hide {
  display: none;
}
